<!DOCTYPE html>
<html>

<head>
    <title>Dashboard Admin</title>
</head>

<body>
    <h2>Selamat datang, {{ username }}!</h2>

    <ul>
        <li><a href="{{ url_for('tambah_mahasiswa') }}">Tambah Mahasiswa</a></li>
        <li><a href="{{ url_for('daftar_mahasiswa') }}">Daftar Mahasiswa</a></li>
        <li><a href="{{ url_for('tambah_jurnal') }}">Tambah Jurnal</a></li>
        <li><a href="{{ url_for('daftar_jurnal') }}">Daftar Jurnal</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
    <ul>

    </ul>
    <ul>
        
    </ul>
</body>

</html>